body {
    font-family: 'Red Hat Mono', monospace;
    background: #222;
    color: rgb(233, 227, 227);
    background-image: url('https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    color: rgb(45, 164, 37);
}

.nav-link {
    color: rgb(14, 199, 7);
}

.homeIcon {
    display: flex;
    align-content: center;
    justify-content: center;
}

.mouse {
    display: flex;
    justify-content: center;
}

.nyanCat {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 12em;
    width: 10px;
    height: 10px;
}

.tableBody {
    color: rgb(6, 167, 9);
}

.stuff {
    display: grid;
    justify-content: center;
}

.container {
    display: grid;
    justify-content: center;
}